.group {
    position: relative;
   }
   
   .input {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 200px;
    border: none;
    border-bottom: 1px solid #515151;
    background: transparent;
   }
   
   .input:focus {
    outline: none;
   }
   

   
   .input:focus ~ label, .input:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: #5264AE;
   }
   
   .bar {
    position: relative;
    display: block;
    width: 200px;
   }
   
   .bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
   }
   
   .bar:before {
    left: 50%;
   }
   
   .bar:after {
    right: 50%;
   }
   
   .input:focus ~ .bar:before, .input:focus ~ .bar:after {
    width: 50%;
   }
   
   .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
   }
   
   .input:focus ~ .highlight {
    animation: inputHighlighter 0.3s ease;
   }
   
   @keyframes inputHighlighter {
    from {
     background: #5264AE;
    }
   
    to {
     width: 0;
     background: transparent;
    }
   }
   /* CreateComment.css */

.create-comment {
  margin-top: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.input-group {
  position: relative;
  margin-bottom: 45px;
}

.input-field {
  font-size: 16px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #757575;
}

.input-field:focus {
  outline: none;
}

/* Highlight & Bar */
.highlight {
  position: absolute;
  height: 60%;
  width: 100%;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

.bar {
  position: relative;
  display: block;
  width: 100%;
}

/* Label */
.label-text {
  color: #999;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
}

.input-field:focus ~ .label-text,
.input-field:valid ~ .label-text {
  top: -20px;
  font-size: 14px;
  color: #5264AE;
}

.submit-button {
  background-color: #5264AE;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.submit-button:hover {
  background-color: #3B4A80;
}
