.App {
  text-align: center;
  /* background-image: url('../public/img/loginFinal.png'); */
  background-size: contain;
  /* background-repeat: no-repeat; */
  background-repeat: repeat;
  /* background-attachment: fixed; */
  /* background-color: #7ec5e9; */
}
body,
html {
  height: 100%;
  margin: 0;
}
.app {
  display: grid;
  grid-template-rows: 1fr auto; /* La primera fila crecerá para llenar el espacio, la segunda será del tamaño del contenido del footer */
  /* min-height: 100vh; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #ffffff; */
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
