.navbar.navbar-inverse {
  background-color: #333; /* Color de fondo */
  border: none; /* Elimina el borde */
  margin-bottom: 0; /* Elimina el margen inferior */
  border-radius: 0; /* Elimina los bordes redondeados */
}

.navbar.navbar-inverse .navbar-brand {
  color: #fff; /* Color del texto */
}

.navbar.navbar-inverse .navbar-nav > li > a {
  color: #fff; /* Color del texto de los enlaces */
}

.navbar.navbar-inverse .navbar-nav > li > a:hover,
.navbar.navbar-inverse .navbar-nav > li.active > a {
  background-color: #555; /* Color de fondo al pasar el ratón o cuando está activo */
}

.navbar.navbar-inverse .navbar-nav.navbar-right > li > a {
  color: #fff; /* Color del texto de los enlaces en la parte derecha */
}

.navbar.navbar-inverse .navbar-nav.navbar-right > li > a:hover {
  background-color: #555; /* Color de fondo al pasar el ratón */
}

/* Ajustes para la barra de navegación en pantallas pequeñas (responsive) */
@media (max-width: 767px) {
.navbar.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #fff; /* Color del texto de los enlaces del menú desplegable en pantallas pequeñas */
}
}
